body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4b3d3d;
    position: Sticky;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4b3d3d;
    color: white;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.Footertxt{
  margin-left: 48%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

.wrap {display: flex;
flex-wrap: wrap;
}

.card {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 10px 10px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    margin-left:2%;
    margin-right: 2%;
    margin-bottom: 5%;
    justify-content: column;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
  }
  
  .card::after {
    content: "Contact Us";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #97209d;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }
  
  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000000;
  }
  
  .card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
  }
  
  .card:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card:active::after {
    content: "Love Yall";
    height: 3.125em;
  }
  
  .text {
    max-width: 55px;
  }
  
  .card-img {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
width:5em
height:3em
}

  .card-img:hover {
  transform: translateY(-5px);
}


/* Footer Links */
.Buttons{display: flex;
  margin-left: 46.5%;
align-items: center;}

button {
  margin-left: 0.5cm;
}
.Btn {
  width: 45px;
  height: 45px;
  position: sticky;
  left:40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156,);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #24a1de;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(-20deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(226, 226, 226,);
  background-color: rgba(204, 204, 204, 0.466);
  backdrop-filter: blur(4px);
}


.Btninsta {
  position: sticky;
  left: 40%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainerinsta {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(255, 104, 104,);
}

.BGinsta {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btninsta:hover .BGinsta {
  transform: rotate(20deg);
  transform-origin: bottom;
}

.Btninsta:hover .svgContainerinsta {
  background-color: rgba(156, 156, 156, 0.466);
}


  
